<!-- <!DOCTYPE html>
<html>
<head>
    <style>

    #mycanvas{
        display: block;
        margin: 0;

    }
    #mycanvas2{
        display:absolute;
        top: 200px;
    }
</style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Product Sales Doughnut Chart</h1>
    <canvas id="mycanvas"></canvas>
    <h1>Product Sales Bar Chart</h1>
    <canvas id="mycanvas2"></canvas>
    
    <script>
        var chrt = document.getElementById("mycanvas").getContext("2d");

        var productTitle = JSON.parse('<%- productTitle %>');
        var intArray = JSON.parse('<%- intArray %>');

        const data = {
            labels: productTitle,
            datasets: [{
                label: 'Product Sales',
                data: intArray,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        var myFirstChart = new Chart(chrt, {
            type: 'doughnut',
            data: data,
            options: {
                aspectRatio: 4, // Change this value to adjust the size (e.g., 0.5 for smaller)
                maintainAspectRatio: true
            }
        });

        var bar_chrt = document.getElementById("mycanvas2").getContext("2d");
        const bar_data = {
        labels: productTitle,
        datasets: [{
                label: 'My second Dataset',
                data: intArray,
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        };
        var mySecondChart = new Chart(bar_chrt, {
            type: 'bar',
            data: bar_data,
            options: 
            {
                aspectRatio: 3,
                scales: 
                {
                    y: 
                    {
                        beginAtZero: true
                    }
                }
            },
        });
    </script>
</body>
</html> -->

<%- include('../includes/head.ejs') %>



    <style>
       

        .container {
            display: flex;
            width: 100%;

            height: 100vh;
            background-size: cover;
            background-position: center;
            padding: 10px 10%;
            overflow: hidden;
        }

        .buttons-container {
           
            margin-top: 0;
            margin-bottom: 1000px;
            max-width: 600px;



        }

        .buttons-container h1 {
            font-size: 50px;
            margin-top: 80px;

        }

        .buttons-container p {
            
            margin-bottom: 100px;
            font-size: 22px;
            
            color: rgb(147, 179, 84);
            font-weight: bold;


        }

        .button {
            display: inline-block;
            padding: 10px;
            margin-bottom: 25px;
            margin-right: 50px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;

            width: 200px;
            height: 50px;

            
            background-color: #13943e;
            color: #fff;
        }

        .button:hover {
            background-color: rgb(167, 225, 171);
           
        }


        .picture {
            width: 40%;
            height: 90%;
            position: absolute;



            right: 10%;

        }

        .anim {
            opacity: 0;
            transform: translateY(30px);
            animation: moveup 0.5s linear forwards;

        }

        @keyframes moveup {
            100% {
                opacity: 1;
                transform: translateY(0px);
            }

        }
    </style>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container">
                <div class="buttons-container">
                    <h1 class="anim">Be Your Own<br>Sales Manager</h1>
                    <p class="anim">Visualize your business</p>


                    <button class="button anim">Sales Chart</button>
                    <button class="button anim">Sales Graph</button>
                    <br>
                    <button class="button anim">Sales Statistics</button>
                    <button class="button anim">Sales record</button>

                </div>

                <img src="/image/Sales.png" alt="Sample Picture" class="picture anim">
            </div>

    </body>

    </html>