.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.product__title {
    font-size: 1.4rem;
    margin: 1rem 0;
    color: #333;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    color: #555;
    margin: 0 1rem 1rem 1rem;
    padding-bottom: 4 rem;
    /* max-height: 2.6em; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}





.filter {
  margin: auto;
  /* Set the width of the container */
 
  float:right;
  margin-top:10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  

 
}


.search input
 {
 flex:1;
    
  /* Set the width of input and select to 50% */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width:100%;

  
  background-color: rgb(223, 240, 222);
}
.search-container select::after {
    content: "\25BC";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    
  }

  .search-container select {
    width: 25%; /* Set the width of input and select to 50% */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    background-color: rgb(223, 240, 222); /* Ensures input and select are on the same line */
    /* margin-left: 400px; */
  }


label[for="sort"]{
    color: rgb(13, 106, 112);
    font-weight: bold;
  
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;

    justify-content: center;
    text-align: center;
  }

.search{
    margin-left: 10px;
    
    
} 
.sort select {
    width: 50%; /* Set the width of input and select to 50% */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    background-color: rgb(223, 240, 222); /* Ensures input and select are on the same line */
  }

.search button  {
  
  padding: 8px 10px;
  background-color: rgb(13, 106, 112);
  color: #fff;
  border: none;
  border-radius: 4px;
  /* margin-left: 10px; */
}


.sort select::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  
}

/* .container{
    text-align: right;
}

/* Adjust the position of the filter form 
.filter {
   /* padding-left: 1000px;
  margin-left: auto; Add padding to the left of the filter form 
  float:right;
} */


/*
body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #f5f5f5;
        color: #333;
        margin: 0;
    }

    h1, h2, h3 {
        font-weight: 700;
    }

    p {
        font-weight: 400;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    .card {
        box-shadow: 0 8px 16px rgba(67, 6, 236, 0.2);
        width: 100%; 
        overflow: hidden;
        transition: transform 0.3s ease;
        border-radius: 10px;
    }

    .card_image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        box-sizing: border-box;
    }

    .card_content {
        line-height: 1.5;
        font-size: 0.9em;
        padding: 10px;
        background: #fafafa;
        text-align: center;
    }

    .card_content_top {
        line-height: 1.5;
        font-size: 0.9em;
        padding: 10px;
        background: #ffffff;
        text-align: center;
    }

    .card_content>p:first-of-type {
        margin-top: 0;
    }

    .card_content>p:last-of-type {
        margin-bottom: 0;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(67, 6, 236, 0.2);
    }

    .card__info {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #555555;
        background: #eeeeee;
        font-size: 0.8em;
    }

    .card__info i {
        font-size: 0.9em;
        margin-right: 8px;
    }

    .card__link {
        color: #649696;
        text-decoration: none;
    }

    .card__link:hover {
        text-decoration: underline;
    }

    .pagination {
        display: flex;
        list-style: none;
        position: relative;
        z-index: 0;
        padding: 0px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .page-item {
        list-style: none;
        margin: 5px 5px;
        padding-left: 5px;
    }

    .page-link {
        text-decoration: none;
        padding: 8px 12px;
        background-color: #d8cc88;
        margin-left: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #333;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .page-link:hover {
        background: #333333;
        color: #fff;
    }

    .active .page-link {
        background: #007bff;
        color: #fff;
    }

    .disable .page-link {
        pointer-events: none;
        background: #eee;
        color: #aaa;
    }

    .page-link.disable {
        pointer-events: none;
        background-color: #eee;
        color: #aaa;
    }

*/
